$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

@mixin desctop {
	@media (max-width: $desktop) {
		@content
	}
};
@mixin desktop-above {
	@media (min-width: $desktop-above) {
		@content
	}
};

@mixin tablet {
	@media (max-width: $tablet) {
		@content
	}
};
@mixin tablet-above {
	@media (min-width: $tablet-above) {
		@content
	}
};

@mixin mobile {
	@media (max-width: $mobile) {
		@content
	}
};
@mixin mobile-above {
	@media (min-width: $mobile-above) {
		@content
	}
};

// Миксин для адаптации hover
@mixin hover {
	// Если медиа запрос поддерживает hover, то будет 
	// использоваться псевдокласс hover
	@media (hover: hover) {
		&:hover {
			@content
		}
	};
	// Если медиа запрос не поддерживает hover, то
	// будет использован псевдокласс active
	@media (hover: none) {
		&:active {
			@content
		}
	}
}
