@use '../base/index' as *;

.select {
	@include fluid-text (16,14);
	// -webkit-appearance: none;
	// -moz-appearance: none;
	// appearance: none;

	width: 93px;
	height: var(--inter-height);
	padding-left: 10px;

	border-radius: var(--border-radius);
	border: none;

	background-color: var(--color-purple);
	color: var(--color-white);

	outline: none;

	
	&:focus {
		outline: 2px solid var(--color-purple);
		outline-offset: -1px;
		background-color: var(--color-purple-dark);
	}

}