@use '../base/index' as *;

.header {
	&__body {
		padding-top: 40px ;
		text-align: center;
	}
	&__title {
		@include select;

		&:not(:last-child) {
			margin-bottom: var(--block-padding-y);
		}
	}
	&__form {
		position: relative;
		display: flex;
		justify-content: center;
		height: 38px;
		column-gap: var(--block-padding-x);

		&::before {
			@include square(21px);

			content: '';
			position: absolute;
			top: 50%;
			left: 71%;
			transform: translateY(-50%);
			background: url('../icon/ui/Lypa-light.svg') center/contain no-repeat;
			pointer-events: none;
			@include mobile {
				left: 92%;
			}
		}
		
		.darkmode &::before {
			content: '';
			@include square(21px);
			position: absolute;
			top: 50%;
			left: 71%;
			transform: translateY(-50%);
			background: url('../icon/ui/Lypa-dark.svg') center/contain no-repeat;
			pointer-events: none;
			@include mobile {
				left: 92%;
			}
		}
		@include mobile {
			flex-wrap: wrap;
			justify-content: center;
			row-gap: var(--block-padding-y);
			margin-bottom: 15%;
		}
	}

	&__input {
		width: 595px;
		padding-right: 43px;


		@include mobile {
			width: 725px;
			max-width: 100%;
		}
		
	}

}