@use '../base/index' as *;

.header {
	&__body {
		padding-top: 40px ;
		text-align: center;
	}
	&__title {
		&:not(:last-child) {
			margin-bottom: var(--block-padding-y);
		}
	}
	&__form {
		display: flex;
		justify-content: center;
		column-gap: var(--block-padding-x);
		
		@include mobile {
			flex-wrap: wrap;
			justify-content: center;
			row-gap: var(--block-padding-y);
		}
	}

	&__input {
		width: 595px;
		@include mobile {
			width: 725px;
			max-width: 100%;
		}
	}

}