@use '../base/index' as *;

.hero {
	&__body {
		position: relative;
		display: flex;
		column-gap: 57px;
		padding-top: var(--section-padding-y);

		@include mobile {
			column-gap: 0;
			flex-direction: column;
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	&__list {
		width: 100%;
		transition: height 0.3s ease-in-out;
	}
	
	&__description {
		display: flex;
		column-gap: 17px;
	}
	
	&__item {
		@include flex;
		padding-block: 17px;

		transition:
			opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
			transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

		&.removing {
			opacity: 0;
			transform: translateX(-100px);
			pointer-events: none;
		}
		&:not(:last-child) {
			border-bottom: 1px solid color-mix(in srgb, var(--color-purple) 50%, transparent);
		}
		
		&.hide {
			display: none;
		}
	}
	&__description {
		align-items: center;
	}

	&__title {
		position: relative;
		display: inline-block;
		overflow: hidden;

		&::before {
		content: "";

		position: absolute;
		top: 55%;
		left: 0;

		width: 100%;
		height: 2px;

		background: currentColor;

		transform: scaleX(0);
		transform-origin: left;
		transition: transform var(--transition-duration) cubic-bezier(0.1, 0.1, 0.1, 0.1);
		}

		&.complete {
		opacity: 0.5;

			&::before {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	&__input.complete {
		outline: none;
		content: "";
		position: relative;
		background: url("../icon/ui/galka.svg") center no-repeat;
		background-color: var(--color-purple);
	}
	
	&__btn {
		align-self: end;
		position: fixed;
		top: 80%;
		left: 75%;
		width: 50px;
		height: 50px;
		@include mobile {
			width: 40px;
			height: 40px;
			align-self: center;
		}
	}

	&__empty-img {
		@include select;
		
		margin: auto;
	}
	&__empty-description {
		@include select;

		margin-top: 20px;
		text-align: center;
		margin-bottom: 20px;
	}
}