@use '../base/index' as *;


.input {
	@include fluid-text(16,14);

	height: var(--inter-height);
	padding: 11px 16px;
	border-radius: var(--border-radius);
	border: var(--border);
	background-color: var(--color-background-s);
	color: var(--color-accent);
	outline: none;

	&::placeholder {
		@include fluid-text(16,14);
		font-family: 'Inter';
		color: var(--color-input-placeholder);
	}

	&:focus {
		outline: 2px solid color-mix(in srgb, var(--color-input-focus) 30%, transparent);
	}

	&.input__checkbox {
		width: 26px;
		height: 26px;
		
		appearance: none;
		position: relative;
		
		padding: 0;
		margin: 0;
		
		border: 1px solid var(--color-purple);
		
		&:focus {
			outline: none;
		}
		@include hover {
			border: 2px solid var(--color-purple);
		}
	}
	&.input__warning {

		outline: 2px solid color-mix(in srgb, var(--color-red) 40%, transparent);
		border: 1px solid var(--color-red);

		&::placeholder {
			color: var(--color-red);
		}
		&::-webkit-input-placeholder {
			color: var(--color-red);
		}
		&::-moz-placeholder {
			color: var(--color-red);
		}
		&:-ms-input-placeholder {
			color: var(--color-red);
		}
	}
	
}