:root {
	--color-background-s: #F7F7F7;
	--color-accent: #252525;

	--color-input-background: #6C63FF;
	--color-input-placeholder: #C3C1E5;
	--color-input-focus: #6C63FF;
	--color-input-dark: #666666;
	
	--color-purple-light: #aba6ff;
	--color-purple: #6C63FF;
	--color-purple-dark: #5850DD;
	--color-dark: #252525;

	--color-red-light: #ff9b9b;
	--color-red: #E50000;

	--color-option: #CDCDCD;

	// границы
	--border: 1px solid var(--color-input-background);
	--outline: 2px solid var(--color-purple);

	// закруглённость границ объектов
	--border-radius: 5px;
	--border-radius-small: 2px;
	--border-radius-large: 16px;

	// основной шрифт макета
	--font-famaly-base:'Kanit', sans-serif;

	// параметры контейнера
	--container-width: 750px;
	--container-padding-x: 16px;

	// отступы 
	--section-padding-y: 30px;
	--block-padding-y: 18px;
	--block-padding-x: 16px;

	// высота input и btn
	--inter-height: 38px;

	// скорость анимации тегов
	--transition-duration: .1s;
}
.darkmode {
	--color-background-s: #252525;
	--color-accent:#F7F7F7;

	--color-input-background:#F7F7F7;
	--color-input-placeholder: #666666; 
	--color-input-focus: #F7F7F7; 
	
	--color-purple-light: #aba6ff;
	--color-purple: #6C63FF;
	--color-purple-dark: #5850DD;

	--color-red-light: #ff9b9b;
	--color-red: #E50000;

	--color-option: #CDCDCD;

	// границы
	--border: 1px solid var(--color-input-background);
	--border-btn: 1px solid var(--color-purple);
	--outline: 2px solid var(--color-purple);
	
	// закруглённость границ объектов
	--border-radius: 5px;
	--border-radius-small: 2px;
	--border-radius-large: 16px;
	
	// основной шрифт макета
	--font-famaly-base:'Kanit', sans-serif;
	
	// параметры контейнера
	--container-width: 750px;
	--container-padding-x: 16px;
	
	// отступы 
	--section-padding-y: 30px;
	--block-padding-y: 18px;
	--block-padding-x: 16px;
	
	// высота input и btn
	--inter-height: 38px;
	
	// скорость анимации тегов
	--transition-duration: .1s;
	
}